@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-gray: #e6e6e9;
  --color-dark: #9999a1;
  --color-darker: #66666e;
  --color-darkest: #000000;
  /* font */
  --font-grotesk: "Niveau Grotesk", sans-serif;
}

@font-face {
  font-family: "Niveau Grotesk";
  src: url("../public/fonts/NiveauGroteskMedium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Niveau Grotesk", sans-serif;
}
